{
  "presets": [
    "@babel/env", 
    ["airbnb", {
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-external-helpers",
    "@babel/plugin-proposal-class-properties"
  ]
}
